Repository Serhey123/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{json,css,scss,md}": ["prettier --write"],
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

test
  .lintstagedrc
Due: none

finished lint config
  .lintstagedrc
Due: none

addedlibs and components
  README.md
  package-lock.json
  package.json
  public/index.html
  src/App.jsx
  src/components/Container/Container.js
  src/components/Container/Container.module.css
  src/index.css
  src/index.js
Due: prettier --write, eslint --fix

added container proptypes
  src/components/Container/Container.js
Due: prettier --write, eslint --fix

test
  src/components/Container/Container.js
Due: prettier --write, eslint --fix

fixed
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write
